
.step{
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
}

.info{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.title{
    font-size: 16px;
    margin-top: 2px;
    font-weight: 500;
}

.description{
    font-size: 14px;
    margin-top: 2px;
    max-width: 200px;
    text-align: justify;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}

.step:last-child{
    flex-grow: 0;
}

.step-line{
    flex-grow: 1;
    margin: 16px 5px;
}

.steps{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%
}