.step{
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
}

.step:last-child{
    flex-grow: 0;
}

.info{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.title{
    font-size: 16px;
    margin-top: 2px;
    font-weight: 500;
}

.description{
    font-size: 14px;
    margin-top: 2px;
    max-width: 200px;
    text-align: justify;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-line{
    flex-grow: 1;
    margin: auto 5px;
}
